Alarm.spec
alarm17st.py
alarm.py
alarm17St.spec
config.py
cylinders.xlsx
doser-example.py
EVfront.xlsx
EVfront1CH.xlsx
flet_front.py
flet_front.spec
newexmpl.py
newexmpl.spec
newexmpl.txt
pywhatkit_asciiart.txt
PyWhatKit_DB.txt
reject.spec
Reject1ch.xlsx
Reject2ch.xlsx
rejectbackup.py
rejectNotWork.py
RejectOLD.py
rejectSql.py
ScadaJangoPostgres.zip
test.py
test.spec
testbd.py
testPy.py
testWA.spec
TransferBD.py
__pycache__/config.cpython-311.pyc
.vscode/launch.json
__pycache__/reject.cpython-311.pyc
__pycache__/test.cpython-310.pyc
__pycache__/streamlit.cpython-311.pyc
AFONIA/AFONIA.py
AFONIA/Alarms.xlsx
alarms/AL_EME[0].xlsx
alarms/AL_EME[1].xlsx
alarms/Al_POS[0].xlsx
alarms/Al_POS[1].xlsx
alarms/Al_POS[2].xlsx
alarms/Al_POS[3].xlsx
alarms/AL_EME[0].xlsx
alarms/AL_EME[1].xlsx
alarms/Al_POS[0].xlsx
alarms/Al_POS[1].xlsx
alarms/Al_POS[2].xlsx
alarms/Al_POS[3].xlsx
alarms/Al_POS[4].xlsx
alarms/alarmList.xlsx
build/Alarm/Alarm.exe.manifest
build/Alarm/Alarm.pkg
build/Alarm/Analysis-00.toc
build/Alarm/base_library.zip
build/Alarm/PKG-00.toc
build/Alarm/EXE-00.toc
build/Alarm/PYZ-00.pyz
build/Alarm/PYZ-00.toc
build/Alarm/Tree-01.toc
build/Alarm/Tree-00.toc
build/Alarm/Tree-02.toc
alarms/AL_EME[0].xlsx
alarms/AL_EME[1].xlsx
alarms/Al_POS[1].xlsx
alarms/Al_POS[0].xlsx
alarms/Al_POS[2].xlsx
alarms/Al_POS[3].xlsx
alarms/Al_POS[4].xlsx
alarms/Al_POS[0].xlsx
build/Alarm/warn-Alarm.txt
build/Alarm/xref-Alarm.html
build/Alarm/localpycs/pyimod01_archive.pyc
build/Alarm/localpycs/pyimod02_importers.pyc
build/Alarm/localpycs/pyimod03_ctypes.pyc
build/Alarm/localpycs/pyimod04_pywin32.pyc
build/alarm17St/alarm17St.exe.manifest
build/Alarm/localpycs/struct.pyc
build/alarm17St/alarm17St.pkg
build/alarm17St/Analysis-00.toc
build/alarm17St/EXE-00.toc
build/alarm17St/base_library.zip
build/alarm17St/PKG-00.toc
build/alarm17St/PYZ-00.pyz
build/alarm17St/warn-alarm17St.txt
build/alarm17St/PYZ-00.toc
build/alarm17St/xref-alarm17St.html
build/alarm17St/localpycs/pyimod01_archive.pyc
build/alarm17St/localpycs/pyimod02_importers.pyc
build/alarm17St/localpycs/pyimod03_ctypes.pyc
build/alarm17St/localpycs/pyimod04_pywin32.pyc
build/flet_front/flet_front.pkg
build/flet_front/flet_front.exe.manifest
build/flet_front/base_library.zip
build/flet_front/EXE-00.toc
build/alarm17St/localpycs/struct.pyc
build/DOPC/Analysis-00.toc
build/DOPC/base_library.zip
build/DOPC/DOPC.exe.manifest
build/DOPC/DOPC.pkg
build/DOPC/EXE-00.toc
build/DOPC/PKG-00.toc
build/DOPC/PYZ-00.pyz
build/DOPC/PYZ-00.toc
build/DOPC/warn-DOPC.txt
build/DOPC/xref-DOPC.html
build/DOPC/localpycs/pyimod01_archive.pyc
build/DOPC/localpycs/pyimod02_importers.pyc
build/DOPC/localpycs/pyimod03_ctypes.pyc
build/DOPC/localpycs/pyimod04_pywin32.pyc
build/DOPC/localpycs/struct.pyc
build/flet_front/Analysis-00.toc
build/flet_front/PKG-00.toc
build/flet_front/PYZ-00.pyz
build/flet_front/PYZ-00.toc
build/flet_front/warn-flet_front.txt
build/flet_front/xref-flet_front.html
build/flet_front/localpycs/pyimod01_archive.pyc
build/flet_front/localpycs/pyimod02_importers.pyc
build/flet_front/localpycs/pyimod03_ctypes.pyc
build/flet_front/localpycs/pyimod04_pywin32.pyc
build/flet_front/localpycs/struct.pyc
build/newexmpl/Analysis-00.toc
build/newexmpl/base_library.zip
build/newexmpl/EXE-00.toc
build/newexmpl/newexmpl.exe.manifest
build/newexmpl/newexmpl.pkg
build/newexmpl/PKG-00.toc
build/newexmpl/PYZ-00.pyz
build/newexmpl/PYZ-00.toc
build/newexmpl/warn-newexmpl.txt
build/newexmpl/xref-newexmpl.html
build/newexmpl/localpycs/pyimod01_archive.pyc
build/newexmpl/localpycs/pyimod02_importers.pyc
build/newexmpl/localpycs/pyimod03_ctypes.pyc
build/newexmpl/localpycs/pyimod04_pywin32.pyc
build/newexmpl/localpycs/struct.pyc
build/reject/Analysis-00.toc
build/reject/base_library.zip
work exmpl/testPycomm.py
work exmpl/testfront.py
work exmpl/TestCelinderV1.py
work exmpl/TestCelinderV3.py
work exmpl/TestCelinder.py
work exmpl/testAlarm39.py
work exmpl/mainPylogix.py
work exmpl/mainPycomm3.py
work exmpl/DOPCv0.0.3 work 1ch.py
work exmpl/DOPC_V0.py
work exmpl/DOPC_V0.0.1 with class.py
kahle_stat_station/CH2ST29/CH2ST29.xlsx
kahle_stat_station/CH2ST26/CH2ST26.xlsx
kahle_stat_station/CH2ST24/CH2ST24.xlsx
kahle_stat_station/CH2ST14/CH2ST14.xlsx
kahle_stat_station/CH2ST09/CH2ST09.xlsx
kahle_stat_station/CH2ST03/CH2ST03.xlsx
kahle_stat_station/CH1ST33/CH1ST33.xlsx
kahle_stat_station/CH1ST32/CH1ST32.xlsx
kahle_stat_station/CH1ST29/CH1ST29.xlsx
kahle_stat_station/CH1ST27/CH1ST27.xlsx
kahle_stat_station/CH1ST19/CH1ST19.xlsx
kahle_stat_station/CH1ST14/CH1ST14.xlsx
kahle_stat_station/CH1ST06/CH1ST06.xlsx
kahle_stat_station/CH1ST02/CH1ST02.xlsx
dist/log/DOPC_log.log
dist/log/Alarms.xlsx
dist/log/alarm.log
dist/Config/Station_stat/CH2/CH2.xlsx
dist/Config/Station_stat/CH1/CH1.xlsx
dist/Config/Pattern/kahle_stat/Station_stat/CH2/CH2.xlsx
dist/Config/Pattern/kahle_stat/Station_stat/CH1/CH1.xlsx
dist/Config/Pattern/kahle_stat/CH2ST29/CH2ST29.xlsx
dist/Config/Pattern/kahle_stat/CH2ST24/CH2ST24.xlsx
dist/Config/Pattern/kahle_stat/CH2ST26/CH2ST26.xlsx
dist/Config/Pattern/kahle_stat/CH2ST14/CH2ST14.xlsx
dist/Config/Pattern/kahle_stat/CH2ST03/CH2ST03.xlsx
dist/Config/Pattern/kahle_stat/CH2ST09/CH2ST09.xlsx
dist/Config/Pattern/kahle_stat/CH1ST33/CH1ST33.xlsx
dist/Config/Pattern/kahle_stat/CH1ST32/CH1ST32.xlsx
dist/Config/Pattern/kahle_stat/CH1ST29/CH1ST29.xlsx
dist/Config/Pattern/kahle_stat/CH1ST27/CH1ST27.xlsx
dist/Config/Pattern/kahle_stat/CH1ST19/CH1ST19.xlsx
dist/Config/Pattern/kahle_stat/CH1ST14/CH1ST14.xlsx
dist/Config/Pattern/kahle_stat/CH1ST06/CH1ST06.xlsx
dist/Config/Pattern/kahle_stat/CH1ST02/CH1ST02.xlsx
dist/Config/Pattern/Stat.xlsx
dist/Config/Pattern/rpm.xlsx
dist/Config/Pattern/Reject.xlsx
dist/Config/Pattern/Alarms.xlsx
dist/Config/Pattern/alarmList.xlsx
dist/Config/Stat.xlsx
dist/Config/rpm.xlsx
dist/Config/Reject.xlsx
dist/Config/alarmList.xlsx
dist/reject.exe
dist/FrontStartPS.ps1
dist/Config/frontlogo.png
dist/Config/logo.png
work exmpl/Front.py
build/testWA/localpycs/struct.pyc
build/testWA/localpycs/pyimod04_pywin32.pyc
build/testWA/localpycs/pyimod03_ctypes.pyc
build/testWA/localpycs/pyimod02_importers.pyc
build/testWA/localpycs/pyimod01_archive.pyc
build/testWA/xref-testWA.html
build/testWA/warn-testWA.txt
dist/Alarm.exe
dist/DOPC.exe
dist/Front.py
build/testWA/Tree-02.toc
build/testWA/Tree-01.toc
build/testWA/Tree-00.toc
build/testWA/testWA.pkg
build/testWA/testWA.exe.manifest
build/testWA/PYZ-00.toc
build/testWA/PYZ-00.pyz
build/testWA/PKG-00.toc
build/testWA/EXE-00.toc
build/testWA/base_library.zip
build/testWA/Analysis-00.toc
build/test/localpycs/struct.pyc
build/test/localpycs/pyimod04_pywin32.pyc
build/test/localpycs/pyimod03_ctypes.pyc
build/test/localpycs/pyimod02_importers.pyc
build/test/xref-test.html
build/test/localpycs/pyimod01_archive.pyc
build/test/warn-test.txt
build/test/Tree-02.toc
build/test/Tree-01.toc
build/test/Tree-00.toc
build/test/test.pkg
build/test/test.exe.manifest
build/test/PYZ-00.toc
build/test/PYZ-00.pyz
build/test/PKG-00.toc
build/test/EXE-00.toc
build/test/base_library.zip
build/test/Analysis-00.toc
build/reject/localpycs/struct.pyc
build/reject/localpycs/pyimod04_pywin32.pyc
build/reject/localpycs/pyimod03_ctypes.pyc
build/reject/localpycs/pyimod02_importers.pyc
build/reject/localpycs/pyimod01_archive.pyc
build/reject/xref-reject.html
build/reject/warn-reject.txt
build/reject/Tree-02.toc
build/reject/Tree-01.toc
build/reject/Tree-00.toc
build/reject/reject.pkg
build/reject/PYZ-00.pyz
build/reject/reject.exe.manifest
build/reject/PYZ-00.toc
build/reject/PKG-00.toc
build/reject/EXE-00.toc
alarms/Al_POS[4].xlsx
alarms/Al_POS[2].xlsx
alarms/Al_POS[3].xlsx
alarms/Al_POS[0].xlsx
alarms/Al_POS[1].xlsx
alarms/AL_EME[1].xlsx
alarms/AL_EME[0].xlsx
alarms/AL_EME[0].xlsx
alarms/AL_EME[1].xlsx
